In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

2.0.1
2.2.2

In [3]:
import matplotlib
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D # для отрисовки 3D проекции

matplotlib.rc("font", size=18) # для увеличения шрифта подписей графиков

In [4]:
# загружаем данные
houses = pd.read_csv("../1.4_houses.csv")

In [5]:
houses.head(7)

   dim_1  dim_2   level   price
0     29     28  luxury  2212.0
1     28     29  luxury  2203.0
2      6      9   basic   254.0
3      5      9   basic   242.0
4      6      6   basic   195.0
5      5      8   basic   200.0
6     27     29  luxury  2108.0